.header {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fc33a), color-stop(100%, #739b2e));
    background-image: -webkit-linear-gradient(top, #8fc33a, #739b2e);
    background-image: -moz-linear-gradient(top, #8fc33a, #739b2e);
    background-image: -o-linear-gradient(top, #8fc33a, #739b2e);
    background-image: -ms-linear-gradient(top, #8fc33a, #739b2e);
    background-image: linear-gradient(top, #8fc33a, #739b2e);
    /* border-bottom: 1px solid #567422; */
    border: 0 none;
   /* background: #1E4176; */
   /* padding-top: 3px; */
   /* padding-left: 3px; */
}

.header .title {
    /* padding: 10px 10px 10px 10px; */
    /* background: url(../images/logo-roucet.gif) no-repeat; */
    color: #fff;
    font-size: 25px;
    /* font-weight: bold; */
    text-shadow: 0 1px 0 #4e691f;
    /* font: normal 20px tahoma, arial, sans-serif; */
    /* color: white; */
    /* margin: 5px; */
}

.home-icon {
    background: url(../images/icons/house.png) no-repeat !important;
}

.arrow-right-icon {
    background: url(../images/icons/arrow_right.png) no-repeat !important;
}

.accept-icon {
    background: url(../images/icons/accept.png) no-repeat !important;
}

.tick-icon {
    background: url(../images/icons/tick.png) no-repeat !important;
}

.drink-icon {
    background: url(../images/icons/drink.png) no-repeat !important;
}

.clients-icon {
    background: url(../images/icons/group.png) no-repeat !important;
}

.app-form-add-icon {
    background: url(../images/icons/application_form_add.png) no-repeat !important;
}

.arrow-down-icon {
    background: url(../images/icons/arrow_down.png) no-repeat !important;
}

.disk-icon {
    background: url(../images/icons/disk.png) no-repeat !important;
}

.pdf-icon {
    background: url(../images/icons/page_white_acrobat.png) no-repeat !important;
}

.monitor-icon {
    background: url(../images/icons/monitor.png) no-repeat !important;
}

.page-save-icon {
    background: url(../images/icons/page_save.png) no-repeat !important;
}

.email-icon {
    background: url(../images/icons/email-icon.png) no-repeat !important;
}

.poste-icon {
    background: url(../images/icons/email.png) no-repeat !important;
}

.cart-go-icon {
    background: url(../images/icons/cart_go.png) no-repeat !important;
}

.client-icon {
    background: url(../images/icons/user.png) no-repeat !important;
}

.grape-icon {
    background: url(../images/icons/grape-icon.png) no-repeat !important;
}

.clients-add-icon {
    background: url(../images/icons/user_add.png) no-repeat !important;
}

.add-icon {
    background: url(../images/icons/add.png) no-repeat !important;
}

.del-icon {
    background: url(../images/icons/delete.png) no-repeat !important;
}

.cancel-icon {
    background: url(../images/icons/cancel.png) no-repeat !important;
}

.table-icon {
    background: url(../images/icons/table.png) no-repeat !important;
}

.commandes-icon {
    background: url(../images/icons/cart.png) no-repeat !important;
}

.commandes-add-icon {
    background: url(../images/icons/cart_add.png) no-repeat !important;
}

.produits-icon {
    background: url(../images/icons/drink.png) no-repeat !important;
}

.grape-icon {
    background: url(../images/icons/grape-icon_16x16.png) no-repeat !important;
}

.about-icon {
    background: url(../images/icons/information.png) no-repeat !important;
}

.inventaire-icon {
    background: url(../images/icons/database.png) no-repeat !important;
}

.lock-icon {
    background: url(../images/icons/lock.png) no-repeat !important;
}

.color-icon {
    background: url(../images/icons/color_wheel.png) no-repeat !important;
}

.connect-icon {
    background: url(../images/icons/connect.png) no-repeat !important;
}

.disconnect-icon {
    background: url(../images/icons/disconnect.png) no-repeat !important;
}

.report-icon {
    background: url(../images/icons/report.png) no-repeat !important;
}

.cog-icon {
    background: url(../images/icons/cog.png) no-repeat !important;
}

.error-icon {
    background: url(../images/icons/error.png) no-repeat !important;
}

.pdf-icon {
    background: url(../images/icons/page_white_acrobat.png) no-repeat !important;
}

.printer-icon {
    background: url(../images/icons/printer.png) no-repeat !important;
}

.nav-menu {
    padding: 0 3px 0 3px;
}

.nav-menu-item {
    margin-top: 3px;
    padding-left: 15px;
    font-size: 11px;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid #fff;
}

.nav-menu-item-img {
    margin-right: 3px;
    position: relative;
    top: 3px;
}

.nav-menu .x-item-selected {
    font-weight: bold;
    color: #15428B;
    background-color: #DFE8F6;
    border: 1px dotted #A3BAE9;
}

.nav-menu-item-hover {
    background-color: #eee;
}

.inventaire-grid-row-age-0 .x-grid-cell {
    background: hsl(120, 75%, 50%);
}

.inventaire-grid-row-age-1 .x-grid-cell {
    background: hsl(100, 75%, 50%);
}

.inventaire-grid-row-age-2 .x-grid-cell {
    background: hsl(80, 75%, 50%);
}

.inventaire-grid-row-age-3 .x-grid-cell {
    background: hsl(60, 75%, 50%);
}

.inventaire-grid-row-age-4 .x-grid-cell {
    background: hsl(40, 75%, 50%);
}

.inventaire-grid-row-age-5 .x-grid-cell {
    background: hsl(20, 75%, 50%);
}

.inventaire-grid-row-age-6 .x-grid-cell {
    background: hsl(0, 75%, 50%);
}

.main_header {
    position: static !important;
}

.inventaire-highlighted-column {
    background: #cdcdcd !important;
}